
/.idea
Animations
Simulation/outputs
Visualization/ex_1_2_output/comparison_graph_dt_0.01.png
Visualization/ex_1_2_output/comparison_graph_dt_0.02.png
Visualization/ex_1_2_output/comparison_graph_dt_0.05.png
Visualization/__pycache__/grapher_ex1_item2.cpython-310.pyc
Visualization/__pycache__/load_most_recent_json.cpython-310.pyc
/Visualization/.idea
Visualization/ex_1_output
Visualization/Animations
*.png
